
.entities {
	line-height: 2
}
[data-entity] {
	padding: 0.25em 0.35em;
	margin: 0 0.25em;
	line-height: 1;
	display: inline-block;
	border-radius: 0.25em;
	border: 1px solid
}
[data-entity]:after {
	box-sizing: border-box;
	content: attr(data-entity);
	font-size: 0.6em;
	line-height: 1;
	padding: 0.35em 0.35em;
	border-radius: 0.35em;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0.1rem 0.5rem
}
[data-entity][data-entity="proper"] {
	background: rgba(166, 226, 45, 0.2);
	border-color: #a6e22d;
	&:after {
		background: #a6e22d;
	}
}
[data-entity][data-entity="nominal"] {
	background: rgba(224, 0, 132, 0.2);
	border-color: #e00084;
	&:after {
		background: #e00084;
	}
}
[data-entity][data-entity="pronominal"] {
	background: rgba(67, 198, 252, 0.2);
	border-color: #43c6fc;
	&:after {
		background: #43c6fc;
	}
}
[data-entity][data-entity="list"] {
	background: rgba(253, 151, 32, 0.2);
	border-color: #fd9720;
	&:after {
		background: #fd9720;
	}
}
